version: "3.9"

services:
  web:
    build: .
    command: daphne -b 0.0.0.0 -p 8000 config.asgi:application
    volumes:
      - .:/code
    env_file:
      - .env
    depends_on:
      - db
      - redis
    restart: always
    networks:
      - webnet

  db:
    image: postgres:16
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always
    networks:
      - webnet

  redis:
    image: redis:7
    restart: always
    networks:
      - webnet

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./letsencrypt:/etc/letsencrypt
    depends_on:
      - web
    restart: always
    networks:
      - webnet

volumes:
  pgdata:

networks:
  webnet:
