services:
  web:
    build: .
    command: daphne -b 0.0.0.0 -p 8000 config.asgi:application
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - redis
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: detection_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: shamshod8052
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"
